@model UserDetailsModel

@{
    ViewBag.Title = "User Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<span>Username : @Model.Email</span>
<br />
<span>User Id : @Model.Id</span>
<br />
<span>Total count of recipes: @Model.UserRecipes.Count</span>
<br />
<button class="btn btn-success"><a onclick="history.go(-1);">Back</a></button>

<form asp-action="DeleteUser" asp-controller="Administrator" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger mb-2" onclick="Are you sure?">Delete User</button>
</form>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Image</td>
            <td>Title</td>
            <td>Status</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.UserRecipes)
        {
            <tr>
                <td>@data.Id</td>
                <td><img src="@data.ImageUrl" style="height: 100px; width: auto; obect-fit: cover;"></td>
                <td>@data.Name</td>
                <td>
                    @data.IsActive
                    <form asp-action="ChangeStatus" asp-controller="Administrator" asp-route-id="@data.Id" method="post">

                        <select id="productextra">
                            <option selected value="0">@data.IsActive</option>
                            @if (data.IsActive == true)
                            {
                                <option value="1">False</option>
                            }
                            else if (data.IsActive == false)
                            {
                                <option value="1">True</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-danger mb-2">
                            <span><span>Change Status</span></span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

