@model List<AllRecipesViewModel>

@{
    ViewBag.Title = "All Recipes";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You have no recipes added for the moment!</h2>
}

<div class="col-4md-4">
    <div class="card mb-3">
        @foreach (var recipe in @Model)
        {
            <div class="card" style="width: 18rem;">
                <button type="button"><a type="button" asp-action="Details" asp-controller="Recipe" asp-route-id="@recipe.Id"><img class="card-img-top" src="@Html.DisplayFor(modelItem => recipe.ImageUrl)" alt="Card image cap"></a></button>
                <div class="card-body">
                    <a class="btn btn-primary" asp-action="Details" asp-controller="Recipe" asp-route-id="@recipe.Id">@Html.DisplayFor(modelItem => recipe.Name)</a>
                </div>
            </div>
        }
    </div>
</div>