@model DetailsRecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div>
   @* <h4>DetailsRecipeViewModel</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" >
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" >
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img style="width: auto; height: 100px" src="@Html.DisplayFor(model => model.ImageUrl)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTime)
        </dd>        
    </dl>
</div>
<div>
    <button class="btn btn-warning"><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></button>   
    <button class="btn btn-success"><a asp-action="Mine">Back</a></button>
    <form asp-controller="recipe" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger" value="delete">Delete</button>
    </form>
</div>
