@using BabyFoodApp.Data.Enums

@model DetailsRecipeViewModel

@{
    ViewBag.Title = "Edit";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<div class="row">
      <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="recipe" asp-action="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingTime" class="control-label"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for="CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationTime" class="control-label"></label>
                <input asp-for="PreparationTime" class="form-control" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTime" class="control-label"></label>
                <input asp-for="TotalTime" class="form-control" />
                <span asp-validation-for="TotalTime" class="text-danger"></span>
            </div>
            <div class="form-floating">
                @Html.DropDownListFor(m => m.ChildAge, new SelectList(Enum.GetValues(typeof(Age))),"Select Age")

            </div>
            <div class="form-floating">
                @Html.DropDownListFor(m => m.Category, new SelectList(Enum.GetValues(typeof(Category))),"Select Category")
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <img style="width: auto; height: 100px" src="@Html.DisplayFor(model => model.ImageUrl)" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true"></textarea>                
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>            
          @*  <div class="text-center"
            <button type="submit" class="btn btn-primary" value="Save">Save</button>
            </div>*@
               
            @*<button type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"><a>Save</a></button>*@

            <form asp-action="Edit" asp-controller="Recipe" asp-route-id="@Model.Id" method="post">
                <button class="btn btn-primary" type="submit"><a>Save</a></button>
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </form>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
